.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.StateBrowse {
  align-items: center;
  justify-content: center;
}

.Selectors {
  display: flex;
  padding: 40px;
}

.StateList, .PercentList {
  padding: 10px;
  flex: auto;
  flex-basis: 25%;
}

.ZipLookup {
  background-color: #28342d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.About {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
